<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.gobelins.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Do you accept?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Do you accept?</string>
	<key>UIAppFonts</key>
	<array>
		<string>National-Book.otf</string>
		<string>National-BookItalic.otf</string>
		<string>National-Regular.otf</string>
		<string>National-RegularItalic.otf</string>
		<string>National-Medium.otf</string>
		<string>National-MediumItalic.otf</string>
		<string>National-Semibold.otf</string>
		<string>National-SemiboldItalic.otf</string>
		<string>National-Bold.otf</string>
		<string>National-BoldItalic.otf</string>
		<string>National-Extrabold.otf</string>
		<string>National-ExtraboldItalic.otf</string>
		<string>Apercu.otf</string>
		<string>Apercu-Italic.otf</string>
		<string>Apercu-Light.otf</string>
		<string>Apercu-LightItalic.otf</string>
		<string>Apercu-Mono.otf</string>
		<string>Apercu-Medium.otf</string>
		<string>Apercu-MediumItalic.otf</string>
		<string>Apercu-Bold.otf</string>
		<string>Apercu-BoldItalic.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
